.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */
.card {
  border: 1px #cbced2 solid;
  list-style: none;
  border-radius: 5px;
  margin: 10px;
}

.text-container {
  margin: 40px;
}

.heading {
  color: #326a9d;
  font-size: 32px;
  font-family: 'Roboto';
}

.description {
  color: #64748b;
  font-size: 18px;
  font-family: 'Roboto';
}

.button {
  color: #326a9d;
  border: 2px solid #326a9d;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto';
  background-color: #ffffff;
  border-radius: 5px;
  height: 30px;
}
